<div class="container">
    <div class="row">
        <div class="col-md-9">
            
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/1517078/pexels-photo-1517078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-5">Featured</small>
                    <small class="bg-light text-info text-center ml-5">Views - 122,234</small>
                    <small class="bg-light text-warning text-center ml-5">LAST UPDATED - MAR 19, 2023</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident obcaecati, sequi magnam perferendis dolor exercitationem hic. Omnis, alias aperiam, cum quo ipsam placeat natus cumque at libero ipsa, unde molestiae.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem esse eum ipsam laborum, ad nesciunt odit sunt soluta harum assumenda provident, possimus nam minima tenetur aspernatur exercitationem. Et, ullam libero.
                        Why do we use it?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquid eius soluta, ducimus repudiandae quos autem omnis possimus molestiae nam doloremque, explicabo magni?
                        Where does it come from?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sit.
                    </p>    

                </div>
            </div>

            <app-comments-form></app-comments-form>
            <app-comments-list></app-comments-list>
        </div>

        <div class="col-md-3">
            <app-post-cards></app-post-cards>
            <app-post-cards></app-post-cards>
            <app-post-cards></app-post-cards>
        </div>

    </div>
</div>