<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/15798715/pexels-photo-15798715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 100,234</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugit doloremque expedita illo quaerat, hic numquam quas at. Est mollitia deserunt consequuntur temporibus maxime dignissimos libero labore veritatis doloremque voluptatum?</p>
        
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2023</small>
    </div>

    
</div>