<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments (467)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - MAR 20, 2023</small>

            <div class="mt-3 mb-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti ad natus soluta nihil veniam! Voluptatibus enim similique quaerat alias corrupti. Voluptate repellendus adipisci dicta est, voluptatibus vero sequi incidunt nobis.
            </div>

            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            
            <hr>

        </div>
    </div>
</div>